<div class="main">
    <div class="card">
        <div *ngIf="!isEmpty">
            <div class="card-header">
                <h4>Leaves Directory</h4>
            </div>
            <div class="card-body">
                <table>
                <tr>
                    <th>Leave ID </th>
                    <th>Leave Type</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Accept</th>
                    <th>Reject</th>
                </tr>
                <tr *ngFor="let leave of requestsList">
                    <td>{{leave.leave_id}}</td>
                    <td>{{leave.leave_type}}</td>
                    <td>{{leave.reason}}</td>
                    <td>{{leave.status}}</td>
                    <td>{{leave.from_date}}</td>
                    <td>{{leave.to_date}}</td>
                    <td>{{leave.employee.employee_id}}</td>
                    <td>{{leave.employee.last_name + " " + leave.employee.first_name }}</td>
                    <td><button class="btn btn-primary" (click)="acceptLeave(leave)">Accept</button></td>
                    <td><button class="btn btn-primary" (click)="rejectLeave(leave)">Reject</button></td>
                </tr>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="isEmpty">
        <div class="alert alert-warning">No Leave Requests</div>
    </div>
</div>    