<div class="main">
    <div class="card">
        <div class="card-header">
            <h4>Leaves Directory</h4>
        </div>
        <div class="card-body">
            <table>
                    <tr>
                        <th>Leave Balance Id</th>
                        <th>No of Casual Leaves</th>
                        <th>Loss of Pay Leaves</th>
                    </tr>
                    <tr>
                        <td>{{employee.leave_balance.id}}</td>
                        <td>{{employee.leave_balance.casual_leaves}}</td>
                        <td>{{employee.leave_balance.loss_of_pay}}</td>
                    </tr>
            </table>
        </div>
    </div>
</div>