<div class="main" style="font-size: medium">
    <div class="container-fluid">
        <h4>Employees Salaries by Range</h4>
        <form [formGroup] = "SalariesForm" (ngSubmit)="onSubmit(SalariesForm.value)">
        <div class="form-group">
                <label>
                    Salary From :  
                </label>
                &nbsp;
                <input [class.is-valid] = "salaryFrom.is-valid && salaryFrom.touched" type="text" formControlName='salaryFrom' id="salaryFrom">
                <div *ngIf="salaryFrom.invalid && (salaryFrom.dirty || salaryFrom.touched)" class="alert alert-danger">
                    <div *ngIf="salaryFrom.errors.required">
                        Salary From is required.
                    </div>
                </div>
        </div>
        <div class="form-group">
            <label>
                Salary To :  
            </label>
            &nbsp;
            <input [class.is-valid] = "salaryTo.is-valid && salaryTo.touched" type="text" formControlName='salaryTo' id="salaryTo">
            <div *ngIf="salaryTo.invalid && (salaryTo.dirty || salaryTo.touched)" class="alert alert-danger">
                <div *ngIf="salaryTo.errors.required">
                    Salary From is required.
                </div>
            </div>
    </div>
        <button class="btn btn-primary" type="submit" [disabled]="SalariesForm.invalid">View</button>
    </form>    
    </div>
    <div *ngIf="displayForm">
            <h4>Employees</h4>
        <table>
        <tr>
            <th>Employee ID </th>
            <th>Employee Name</th>
            <th>Department ID</th>
            <th>Salary</th>
        </tr>
        <tr *ngFor="let employee of employeesList">
            <td>{{employee.employee_id}}</td>
            <td>{{employee.last_name +" "+employee.first_name}}</td>
            <td>{{employee.department.department_id}}</td>
            <td>{{employee.salary}}</td>
        </tr>
        </table>
    </div>
    <div *ngIf="isEmpty">
            <div class="alert alert-warning">No Employees found</div>
    </div>
</div>    