<div class="main" style="font-size: medium">
    <div class="container-fluid">
        <h4>Employee Details</h4>
        <form [formGroup] = "EmployeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
                <label>
                    Employee-ID :  
                </label>
                &nbsp;
                <input [class.is-valid] = "employee_id.is-valid && employee_id.touched" type="text" formControlName='employee_id' id="employee_id">
                <div *ngIf="employee_id.invalid && (employee_id.dirty || employee_id.touched)" class="alert alert-danger">
                    <div *ngIf="employee_id.errors.required">
                        Employee-ID is required.
                    </div>
                </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="EmployeeForm.invalid">View</button>
    </form>    
    </div>

    <div *ngIf="displayForm">
        <table>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Department ID</th>
                <th>Department Name</th>
                <th>Employee Salary</th>
                <th>PF</th>
                <th>Reporting TO</th>
            </tr>
            <tr>
                <td>{{employee.employee_id}}</td>
                <td>{{employee.last_name || " " || employee.first_name}}</td>
                <td>{{employee.department.department_id}}</td>
                <td>{{employee.department.department_name}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.pf}}</td>
                <td>{{employee.manager_id}}</td>
            </tr>
        </table>
    </div>
    <div *ngIf="notExist">
        <div class="alert alert-warning">Not found</div>
    </div>
</div>    