<div class="main" style="font-size: medium">
    <div class="card">
        <div class="card-header">
            <h4>Employee Details</h4>
        </div>
        <div class="card-body">
            <form [formGroup] = "EmployeeForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="employee_id">
                        Employee-ID :  
                    </label>
                    &nbsp;
                    <input [class.is-valid] = "employee_id.is-valid && employee_id.touched" type="text" formControlName='employee_id' id="employee_id">
                    <div *ngIf="employee_id.invalid && (employee_id.dirty || employee_id.touched)" class="text-danger">
                        <div *ngIf="employee_id.errors.required">
                            Employee-ID is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" [disabled]="EmployeeForm.invalid">View</button>
                </div>
            </form>  

            <div *ngIf="displayForm">
                <table>
                    <tr>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Department ID</th>
                        <th>Department Name</th>
                        <th>Employee Salary</th>
                        <th>PF</th>
                        <th>Reporting TO</th>
                    </tr>
                    <tr>
                        <td>{{employee.employee_id}}</td>
                        <td>{{employee.last_name || " " || employee.first_name}}</td>
                        <td>{{employee.department.department_id}}</td>
                        <td>{{employee.department.department_name}}</td>
                        <td>{{employee.salary}}</td>
                        <td>{{employee.pf}}</td>
                        <td>{{employee.manager_id}}</td>
                    </tr>
                </table>
            </div>
            <div *ngIf="notExist" style="margin-top: 15px">
                <div class="alert alert-warning">No Employee Found</div>
            </div>
        </div> 
    </div> 
</div>    