<div class="home">  
    <div class="card border-dark mb-3" style="max-width: 35rem;">
        <div class="card-header"><h4>Details</h4></div>
        <div class="card-body text-dark">
            <h5 class="card-title">Welcome</h5>
            <p class="card-text">
            UserName : {{manager.login.username}}<br/>
            Manager Id: {{manager.manager_id}}<br/>
            Name: {{manager.last_name + " " + manager.first_name}}<br/>
            Reporting To: {{manager.manager_id}}
            </p>
        </div>
    </div>
</div>  