<div class="main">
    <div class="card">
        <div *ngIf="!isEmpty">
            <div class="card-header">
                <h4>Employees</h4>
            </div>
            <div class="card-body">
                <table>
                <tr>
                    <th>Employee ID </th>
                    <th>Employee Name</th>
                    <th>Reporting To</th>
                    <th>Department ID</th>
                </tr>
                <tr *ngFor="let employee of employeesList">
                    <td>{{employee.employee_id}}</td>
                    <td>{{employee.last_name +" "+employee.first_name}}</td>
                    <td>{{employee.manager_id}}</td>
                    <td>{{employee.department.department_id}}</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>