<div class="main">
        <div *ngIf="!isEmpty">
            <h4>Leaves Directory</h4>
        <table>
        <tr>
            <th>Leave ID </th>
            <th>Leave Type</th>
            <th>Status</th>
            <th>From Date</th>
            <th>To Date</th>
        </tr>
        <tr *ngFor="let leave of leavesList">
            <td>{{leave.leave_id}}</td>
            <td>{{leave.leave_type}}</td>
            <td>{{leave.status}}</td>
            <td>{{leave.from_date}}</td>
            <td>{{leave.to_date}}</td>
        </tr>
        </table>
        </div>
        <div *ngIf="isEmpty">
            <div class="alert alert-warning">No Leave Transactions</div>
        </div>
    </div>